<html ng-app="myApp" id="myApp">
 <head>
     <meta name="viewport" content="width=device-width" />
    <title>Formulario Usuario</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./main.js"></script>
    <img src="inmodigital.jpg">
  

</head>
 <body ng-controller="myController">
     {{msg}}
           <a href="javascript:;" id="lbtnTest"> Llamar </a>



           <form>
               <h1>Formulario de Insercion de Usuarios Inmodigital</h1>
               
            <div class="form-group">
                <label for="valor">Nombres</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite los Nombres" id="nombres" ng-model="formData.nombres">
                <br>
                <label for="valor">Apellidos</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite los Apellidos" id="apellidos" ng-model="formData.apellidos">
                <br>
                <label for="valor">Cedula</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite la Cedula" id="cedula" ng-model="formData.cedula">
                <br>
                <label for="valor">Usuario Logeo</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite el Usuario de Logeo" id="nombre_usuario" ng-model="formData.nombre_usuario">
                <br>
                <label for="valor">Correo</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite el Correo" id="correo" ng-model="formData.correo">
                <br>
                <label for="valor">Clave</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite el Password" id="clave" ng-model="formData.clave">
                <br>
                <label for="valor">Rol</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Digite el Rol del Usuario" id="rol" ng-model="formData.rol">
                <br>




                {{todos}}

            
            </div>
            <br>
            <button class="btn btn-primary btn-lg" ng-click="createTodo()">Agregar Datos</button>
        </form>
 </body>
 </html>
