<html ng-app="myApp" id="myApp">

<head>
    <meta name="viewport" content="width=device-width" />
    <title> Bienvenido</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="main.js"></script>
</head>

<body ng-controller="myController">
    <h2>Inmobiliaria Digital</h2>

    
    <form class="form"  >
        <h2 class="form_title">Iniciar sesión</h2>
        <div class="form_succes" >
            {{todos}}
        </div>

        <div class="form_error" >
            {{errorMessage}}
        </div>

        <div class="form_container form-group">
            <div class="form_group">
                <input type="text" class="form_input form-control input-lg text-center" id="nombres" name="nombres"
                    ng-model="formData.usuario" placeholder=" " >
                <label class="form_label" for="valor">Usuario</label>
                <span class="form_line"></span>
            </div>
            <br>
            <div class="form_group">
                <input type="text" class="form_input form-control input-lg text-center" id="contrasena"
                    ng-model="formData.contrasena" placeholder=" ">
                <label class="form_label" for="valor">Contraseña</label>
                <span class="form_line"></span>
            </div>

            <br><br>
            <button class="form_submit btn btn-primary btn-lg" ng-click="login()" >Iniciar Sesión</button>
            <br>
            <a href="usuarioRegistro.html"><input type="button" value="Registrarse"></a>
        </div>
        <br>
    </form>
</body>

</html>