
<body >  
    <div *ngIf="errorMessage" style="text-align: center;" class="alert alert-success" role="alert">
        {{errorMessage}}
    </div>
<div class="contenedor-columna">
    
    <div class="form-contacto">
        <h2 class="form_title">Contactanos <i class="fas fa-phone"></i> </h2>
        <div class="form_succes">

        </div>

        <div class="form_container form-group">
            <div class="form_group">
                <input type="text" class="form_input form-control input-lg text-center" id="nombres" name="nombres"
                    placeholder=" ">
                <label class="form_label" for="valor"><i class="fas fa-user"></i> Nombre</label>
                <span class="form_line"></span>
            </div>
            <br>
            <div class="form_group">
                <input type="text" class="form_input form-control input-lg text-center" id="contrasena" placeholder=" ">
                <label class="form_label" for="valor"><i class="fas fa-user"></i> Apellido</label>
                <span class="form_line"></span>
            </div>
            <br>
            <div class="form_group">
                <input type="text" class="form_input form-control input-lg text-center" id="contrasena" placeholder=" ">
                <label class="form_label" for="valor"><i class="fas fa-envelope-square"></i> Correo</label>
                <span class="form_line"></span>
            </div>

            <br><br>
            <button class="form_submit btn btn-primary btn-lg" (click)="enviar()">Enviar <i class="fas fa-paper-plane"></i></button>
            <br>
        </div>
        <br>
    </div>

    <div class="imgDiv"> 
        <img class="logoImagen" src="./assets/img/logo2.png">
    </div>
</div>
</body>