


<div class="filtros">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-map-signs"></i> Ubicación
        </button>
        <ul class="dropdown-menu">
            <div *ngFor="let item of ubicaciones; let i = index">
                <li><a class="dropdown-item" (click)="cambiarUbicacion(item)">{{item.zona}}-{{item.barrio}}</a></li>
            </div>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
             <i class="fas fa-house-user"></i> Tipo
        </button>
        <ul class="dropdown-menu">
            <div *ngFor="let tipo of tipos; let i = index">
                <li><a class="dropdown-item" (click)="cambiarTipo(tipo)">{{tipo}}</a></li>
            </div>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-person-booth"></i> Nro. habitaciones
        </button>
        <ul class="dropdown-menu">
            <div *ngFor="let numero of habitaciones; let i = index">
                <li><a class="dropdown-item" (click)="cambiarHabitaciones(numero)">{{numero}}</a></li>
            </div>
        </ul>
    </div>

    <div>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Detalles"
        (click)="limpiarFiltro()">Limpiar filtro <i class="fas fa-trash"></i></button>

    </div>


</div>

<br>

<div *ngIf="inmuebles">
    <div class="tabla-margen table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nro. Habitaciones</th>
                    <th scope="col">Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <!-- BIND ARRAY TO TABLE -->
            <tbody>
                <tr *ngFor="let inmueble of inmuebles; let i = index">
                    <td>{{ inmueble.descripcion}}</td>
                    <td>{{ inmueble.ubicacion.zona}} - {{ inmueble.ubicacion.barrio}}</td>
                    <td>{{ inmueble.tipo}}</td>
                    <td style="text-align: center;">{{ inmueble.nroHabitaciones}}</td>
                    <td>{{ inmueble.direccion}}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="tooltip" title="Detalles"
                            (click)="openPopup(inmueble)"><i class="far fa-eye"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div *ngIf="autenticado">
    <a routerLink="/registrar-inmueble" routerLinkActive="active">Registrar inmueble</a>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle del producto</h5>
            </div>
            <div class="modal-body">
                <div>
                    Descripción:
                    {{inmueble.descripcion}}
                </div>
                <div>
                    Dirección:
                    {{inmueble.direccion}}
                </div>
                <div>
                    Nro. Habitaciones:
                    {{inmueble.nroHabitaciones}}
                </div>
                <div>
                    Precio:
                    {{inmueble.precio}}
                </div>
                <div>
                    Tipo:
                    {{inmueble.tipo}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closePopup()">Salir</button>
            </div>
        </div>
    </div>
</div>