<div class="filtros">
    <div class="seleccionable btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-map-signs"></i> Ubicación
        </button>
        <ul class="dropdown-menu">
            <div *ngFor="let item of ubicaciones; let i = index">
                <li><a class="dropdown-item" (click)="cambiarUbicacion(item)">{{item.zona}}-{{item.barrio}}</a></li>
            </div>
        </ul>
    </div>
    <br>

    <div class="seleccionable btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-house-user"></i> Tipo
        </button>
        <ul class="dropdown-menu">
            <div *ngFor="let tipo of tipos; let i = index">
                <li><a class="dropdown-item" (click)="cambiarTipo(tipo)">{{tipo}}</a></li>
            </div>
        </ul>
    </div>
    <br>
    <div class="seleccionable btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-person-booth"></i> Nro. habitaciones
        </button>
        <ul class="dropdown-menu">
            <div *ngFor="let numero of habitaciones; let i = index">
                <li><a class="dropdown-item" (click)="cambiarHabitaciones(numero)">{{numero}}</a></li>
            </div>
        </ul>
    </div>
    <br>

    <div class="seleccionable">
        <button type="button" class="seleccionable btn btn-primary" data-toggle="tooltip" title="Detalles"
            (click)="limpiarFiltro()">Limpiar filtro <i class="fas fa-trash"></i></button>

    </div>


</div>

<br>

<div *ngIf="inmuebles">
    <div class="tabla-margen table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nro. Habitaciones</th>
                    <th scope="col">Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <!-- BIND ARRAY TO TABLE -->
            <tbody>
                <tr *ngFor="let inmueble of inmuebles; let i = index">
                    <td>{{ inmueble.descripcion}}</td>
                    <td>{{ inmueble.ubicacion.zona}} - {{ inmueble.ubicacion.barrio}}</td>
                    <td>{{ inmueble.tipo}}</td>
                    <td style="text-align: center;">{{ inmueble.nroHabitaciones}}</td>
                    <td>{{ inmueble.direccion}}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="tooltip" title="Detalles"
                            (click)="openPopup(inmueble)"><i class="far fa-eye"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<br>

<div style="text-align: center;" *ngIf="autenticado">
    <button class="btn btn-primary" (click)="irRegistrarInmueble()">Registrar inmueble <i
            class="fas fa-book-open"></i></button>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle del producto</h5>
            </div>
            <div class="modal-body">
                <div>
                    Descripción:
                    {{inmueble.descripcion}}
                </div>
                <div>
                    Dirección:
                    {{inmueble.direccion}}
                </div>
                <div>
                    Nro. Habitaciones:
                    {{inmueble.nroHabitaciones}}
                </div>
                <div>
                    Precio:
                    {{inmueble.precio}}
                </div>
                <div>
                    Tipo:
                    {{inmueble.tipo}}
                </div>

            </div>

            <img class="img-fluid; img-thumbnail" src="{{inmueble.imagen}}">

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closePopup()">Salir</button>
            </div>
        </div>
    </div>
</div>

<br>

<div class="contenedor-slide">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://localhost:9000/7b1d9d6486bdf34017e0bd9cc07e1df2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Inmodigital</h5>
                    <p>El mundo inmobiliario a su alcance</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://localhost:9000/casa2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5>Inmodigital</h5>
                    <p>Lo sueña ? !!! Lo tenemos !!! </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://localhost:9000/casa3.jpg" class="d-block w-100" alt="...">

                <div class="carousel-caption">
                    <h5>Inmodigital</h5>
                    <p>Tu sueño echo realidad </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://localhost:9000/casa4.jpg" class="d-block w-100" alt="...">

                <div class="carousel-caption">
                    <h5>Inmodigital</h5>
                    <p>Gran variedad Inmobiliaria</p>
                </div>
            </div>
        </div>
    </div>

</div>