

    <div class="contenido">
        <div class="caja">
            <h4> Nuestra Empresa</h4>
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate molestias autem explicabo dignissimos
            ratione quis repellendus? Error laborum soluta quod itaque enim sit assumenda nam. Suscipit maxime
            repellendus vero, accusamus quaerat saepe optio repudiandae neque cumque quas rerum numquam cum eaque porro
            fuga placeat obcaecati, eos et maiores. Vel, quisquam?
        </div>
        <div class="caja">
            <h4>¿Que te ofrecemos?</h4><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate molestias autem explicabo dignissimos
            ratione quis repellendus? Error laborum soluta quod itaque enim sit assumenda nam. Suscipit maxime
            repellendus vero, accusamus quaerat saepe optio repudiandae neque cumque quas rerum numquam cum eaque porro
            fuga placeat obcaecati, eos et maiores. Vel, quisquam?
        </div>
    </div>
    <div class="contenido">
        <div class="caja">
            <h4>Nuestra Misión</h4>
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate molestias autem explicabo dignissimos
            ratione quis repellendus? Error laborum soluta quod itaque enim sit assumenda nam. Suscipit maxime
            repellendus vero, accusamus quaerat saepe optio repudiandae neque cumque quas rerum numquam cum eaque porro
            fuga placeat obcaecati, eos et maiores. Vel, quisquam?
        </div>
        <div class="caja">
            <h4> Nuestra Visión</h4><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate molestias autem explicabo dignissimos
            ratione quis repellendus? Error laborum soluta quod itaque enim sit assumenda nam. Suscipit maxime
            repellendus vero, accusamus quaerat saepe optio repudiandae neque cumque quas rerum numquam cum eaque porro
            fuga placeat obcaecati, eos et maiores. Vel, quisquam?
        </div>
    </div>
